body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1564bf;
  padding: 8px 12px;
}

.navbar_logo {
  color: antiquewhite;
  font-size: 24px;
}

.navbar_logo i {
  color: rgb(157, 157, 160);
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: rgb(92, 132, 218);
  border-radius: 4px;
}

.navbar_icons {
  list-style: none;
  color: beige;
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 8px 12px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    justify-content: center;
    width: 100%;
  }
}

.main_img {
  width: 100%;
  height: auto;
}

.char_img {
  width: 40%;
  display: block;
  margin: auto;
  padding-top: 300px;
  padding-bottom: 200px;
}
.text {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  padding-top: 300px;
}

.charoicons {
  width: 100px;
  display: block;
  margin: auto;
  padding-bottom: 100px;
}

.container {
  display: flex;
  list-style: none;
  justify-content: center;
  justify-content: space-around;
  padding: 50px;
}

.contain1,
.contain2,
.contain3 {
  font-size: 25px;

  border-radius: 30px;
  margin-bottom: 200px;
}

li.con1_1,
li.con2_1,
li.con3_1 {
  font-weight: bold;
  color: #0f6fff;
  text-align: center;
  padding: 20px;
}

li.con1_2,
li.con2_2,
li.con3_2 {
  font-weight: bold;
  text-align: center;
  padding: 30px;
}

.contain1 i,
.contain2 i,
.contain3 i {
  color: gray;
  display: flex;
  justify-content: center;
  text-align: center;
}

.text_2 {
  color: grey;
  font-size: 30px;
  text-align: center;
  padding: 100px;
}

.text_main,
.text_datail,
.text_search,
.text_write {
  font-size: 30px;
  font-weight: bold;
  padding-left: 30px;
  color: #0f6fff;
}
.funcion_1,
.funcion_3 {
  display: flex;
  background-color: #f5f5f5;
  padding-top: 70px;
  justify-content: center;
}

.main_func1 {
  padding-bottom: 100px;
}
.main_func3 {
  padding-bottom: 45px;
}

.funcion_2,
.funcion_4 {
  display: flex;
  padding-top: 70px;
  justify-content: center;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

footer {
  padding: 30px;
  background-color: #1564bf;
  position: sticky;
  bottom: 0;
  margin-top: 100px;
}

.email,
.email_text {
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 200;
}
